@import "tailwindcss";

* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

:root {
    /* orange : #f8684c */
    /* --cardPanel: #f3f3f3; */
    /* --primaryPanel: #2BB673;
    --bgPanel: #ffffff;
    --cardPanel: #ebebeb;
    --textPrimary: #000000;
    --textSecondary: #666666;
    --textTrans: #ffffff; */

    --primaryPanel: #2BB673;
    --bgPanel: #11141d;
    --cardPanel: #1d1f2d;
    --textPrimary: #ffffff;
    --textSecondary: #999999;
    --textTrans: #11141d;

    --greenTheme: #2BB673;
    --primaryPanel: #2BB673;
    --backPanel: #FAFAFA;
    --textPanel: #2E2E2E;
    --greenSuccess: #6EE7B7;

    --themeWhite: #ffffff;
    --themeBlack: #000000;
    --themeBackground: #ffffff;
    --themeGreyBlue: #cacaca;
    --themeGreyBlueDark: #adadad;
    --themeBlackTrans: rgba(0, 0, 0, 0.6);
    --themeWhiteTrans: rgba(255, 255, 255, 0.6);

    /* --themeWhite: #121212;
    --themeBlack: #fff;
    --themeBackground: #1e1f23;
    --themeGreyBlue: #00012e;
    --themeGreyBlueDark: #000121;
    --themeBlackTrans: rgba(255, 255, 255, 0.6);
    --themeWhiteTrans: rgba(0, 0, 0, 0.6); */

    --greenLightPanel: #A7EBC6;
    --greenLightestPanel: #D4F7E5;
    --greenLightest2Panel: #dff5e9;
    --greenDarkPanel: #287a57;
    --greenDarkestPanel: #1E7F52;

    /* --greenLightPanel: rgba(167, 235, 198, 0.3);
    --greenLightestPanel: rgba(212, 247, 229, 0.3);
    --greenLightest2Panel: #dff5e9;
    --greenDarkPanel: #287a57;
    --greenDarkestPanel: #1E7F52; */
    
    --themeGrey33: #333333;
    --themeGrey44: #444444;
    --themeGrey66: #666666;
    --themeGrey88: #888888;
    --themeGrey99: #999999;

    /* --themeGrey33: #888888;
    --themeGrey44: #999999;
    --themeGrey66: #666666;
    --themeGrey88: #888888;
    --themeGrey99: #999999; */

    --primaryPanelSet: #2BB673;
    --greenLightPanelSet: #A7EBC6;
    --greenLightestPanelSet: #D4F7E5;
    --greenLightest2PanelSet: #dff5e9;
    --greenDarkPanelSet: #287a57;
    --greenDarkestPanelSet: #1E7F52;

    --bluePanel:         #2B6CB0;
    --blueLightPanel:    #A3C9F5;
    --blueLightestPanel: #D4E9FB;
    --blueLightest2Panel:#E3F1FC;
    --blueDarkPanel:     #24538C;
    --blueDarkestPanel:  #1A3C6E;

    --redPanel:          #E53E3E;
    --redLightPanel:     #FEB2B2;
    --redLightestPanel:  #FEE2E2;
    --redLightest2Panel: #FDE8E8;
    --redDarkPanel:      #C53030;
    --redDarkestPanel:   #9B2C2C;

    --purplePanel:         #805AD5;
    --purpleLightPanel:    #D6BCFA;
    --purpleLightestPanel: #F3E8FD;
    --purpleLightest2Panel:#F5EDFE;
    --purpleDarkPanel:     #6B46C1;
    --purpleDarkestPanel:  #553C9A;

    --orangePanel:         #E45011;
    --orangeLightPanel:    #fad6bc;
    --orangeLightestPanel: #fdefe8;
    --orangeLightest2Panel:#FFF7EF;
    --orangeDarkPanel:     #D65B0A;
    --orangeDarkestPanel:  #B34703;

    --black: #000;
    --blackTrans: rgba(0, 0, 0, 0.6);
    --whiteTrans: rgba(255, 255, 255, 0.6);
    --lightBlack: #000818;
    --blueBlack: #0f141a;
    --blueBlackDark: #090c0f;
    --blueBlackDarkest: #07090c;
    --whiteGreyBlack: #ffffff;
    --textBlack: #000;
    --textWhite: #fff;
    --transBlack: rgba(0, 0, 0, 0.6);
    --white: #fff;
    --orange: #E45011;
    --darkorange: #521d04;
    --orangetrans25: rgba(228, 80, 17, 0.25);
    --greycc: #ccc;
    --greyea: #eaeaea;
    --greyeatrans: rgba(234, 234, 234, 0.8);
    --darkGray: #181818;
    --grey33: #333333;
    --grey44: #444444;
    --grey66: #666666;
    --grey88: #888888;
    --grey99: #999999;
    --lightblue: #0075bb;
    --darklightblue: #041e52;
    --lightbluetrans25: rgba(0, 117, 187, 0.25);
    --red: #c50202;
    --darkred: #520404;
    --redtrans25: rgba(197, 2, 2, 0.25);
    --teal: #00968a;
    --darkteal: #04524e;
    --tealtrans25: rgba(0, 212, 194, 0.25);
    --green: #1BBA00;
    --darkgreen: #055204;
    --greentrans25: rgba(127, 186, 0, 0.25);
    --yellow: #c5a902;
    --darkyellow: #524a04;
    --yellowtrans25: rgba(197, 169, 2, 0.25);
    --purple: #9007ed;
    --darkpurple: #330452;
    --purpletrans25: rgba(185, 82, 255, 0.25);
}


body {
    background-color: var(--white);
}

#loading {
    width: 65px;
    height: 65px;
    border: 8px solid color-mix(in srgb, #666666 30%, transparent);
    border-top: 8px solid var(--primaryPanel);
    border-radius: 100%;
    display: inline-block;
    animation: 1.5s ease-in 0s infinite both loading;
}

@keyframes loading {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
  

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bgPanel);
}

::-webkit-scrollbar-thumb {
    background: var(--primaryPanel);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: color-mix(in srgb, var(--primaryPanel) 80%, transparent);
}


.btnGreen {
    @apply text-sm py-2 px-5 bg-[var(--primaryPanel)] text-[var(--bgPanel)] font-semibold rounded-md cursor-pointer hover:opacity-80 active:opacity-80;
}

.btnGreenOutline {
    @apply px-4 py-2 text-sm font-medium text-[var(--primaryPanel)] 
           border border-[var(--primaryPanel)] rounded-md 
           hover:bg-[var(--greenLightestPanel)] 
           active:bg-[var(--greenLightPanel)] 
           transition duration-200 ease-in-out;
  }
  
.btnGreenLight {
    @apply text-sm py-3 px-6 bg-[var(--greenLightPanel)] text-[var(--themeBlack)] font-semibold rounded-md cursor-pointer hover:bg-[var(--greenLightestPanel)] active:bg-[var(--greenLightPanel)];
}

.btnGreenLightOutline {
    @apply text-sm py-3 px-6 border border-[var(--greenLightestPanel)] bg-[var(--greenLightPanel)] text-[var(--themeBlack)] font-semibold rounded-md cursor-pointer hover:bg-[var(--greenLightestPanel)] active:bg-[var(--greenLightPanel)];
}

.btnGreenLightest {
    @apply text-sm py-3 px-6 bg-[var(--primaryPanel)] hover:opacity-80 text-[var(--textTrans)] font-semibold rounded-md cursor-pointer;
}

.btnGreenLightestOutline {
    @apply text-sm py-2 px-4 border-2 border-[var(--greenLightPanel)] bg-[var(--greenLightestPanel)] text-[var(--themeBlack)] font-semibold rounded-md cursor-pointer hover:bg-[var(--greenLightPanel)] active:bg-[var(--greenLightestPanel)];
}

.btnGrayLightest {
    @apply text-sm py-3 px-6 bg-gray-200 text-[var(--themeBlack)] font-semibold rounded-md cursor-pointer hover:bg-gray-300 active:bg-gray-300;
}

.btnRedLightest {
    @apply text-[15px] py-3 px-6 bg-red-100 text-red-800 font-semibold rounded-md cursor-pointer hover:bg-red-200 active:bg-[var(--greenLightestPanel)];
}

.happylabel {
    @apply block text-[var(--textSecondary)] text-sm font-medium mb-1;
}

.happyinput {
    @apply w-full py-2.5 px-4 text-sm box-border outline-0 border-[2px] border-gray-500 text-[var(--textPrimary)] placeholder:text-gray-500 rounded-md focus:border-[var(--primaryPanel)];
}

.happyselect {
    @apply pr-10 pl-4 text-right w-full py-2.5 text-sm box-border outline-0 border-[2px] border-gray-500 text-[var(--textPrimary)] placeholder:text-[var(--textSecondary)] rounded-md focus:border-[var(--primaryPanel)];
}

.happyinput option {
    background: var(--cardPanel);
    color: var(--textPrimary);
}

.happyinputold {
    @apply w-full py-3 px-5 md:py-2 box-border outline-0 border-2 border-[var(--grey66)] text-[var(--themeBlack)] placeholder:text-gray-500 rounded-md focus:border-[var(--primaryPanel)];
}

.btnRedLight {
    @apply text-[15px] py-3 px-6 bg-red-300 text-[var(--themeBlack)] font-semibold rounded-md cursor-pointer hover:bg-red-200 active:bg-red-200;
}


.table-container {
    background: var(--cardPanel);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.85rem; /* Small but readable */
}

thead {
    background: var(--primaryPanel);
    color: var(--textTrans);
    /* border-bottom: 2px solid var(--primaryPanel); */
}

thead th {
    padding: 10px 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 0.75rem;
    text-transform: uppercase;
}

tbody tr {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background: color-mix(in srgb, var(--cardPanel) 10%, transparent);
    /* transition: background 0.2s ease; */
}

tbody tr:nth-child(odd) {
    background: color-mix(in srgb, var(--cardPanel) 40%, transparent);
}

tbody tr:hover {
    background: rgba(0,0,0,0.03);
}

tbody td {
    padding: 0.9rem 1rem;
    color: var(--textPrimary);
    font-size: 0.82rem;
}

tbody th {
    padding: 0.7rem 1rem;
    color: var(--textPrimary);
    font-size: 0.82rem;
}

tbody td.secondary {
    color: var(--textSecondary);
}
  
.filter-tab-btn {
    padding: 7px 20px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    /* border: 1px solid var(--tab-color); */
    border: 1px solid color-mix(in srgb, var(--tab-color) 20%, transparent);
    color: var(--tab-color);
    background: color-mix(in srgb, var(--tab-color) 15%, transparent);
    /* transition: background 0.2s ease, color 0.2s ease; */
}
  
.filter-tab-btn:hover {
    background: color-mix(in srgb, var(--tab-color) 20%, transparent);
}

.filter-tab {
    padding: 4px 15px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    /* border: 1px solid var(--tab-color); */
    border: 1px solid color-mix(in srgb, var(--tab-color) 20%, transparent);
    color: var(--tab-color);
    background: color-mix(in srgb, var(--tab-color) 15%, transparent);
    /* transition: background 0.2s ease, color 0.2s ease; */
}
  
.filter-tab:hover {
    background: color-mix(in srgb, var(--tab-color) 20%, transparent);
}

.filter-tab-small {
    padding: 4px 10px 2.5px 10px;
    border-radius: 6px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    /* border: 1px solid var(--tab-color); */
    border: 1px solid color-mix(in srgb, var(--tab-color) 20%, transparent);
    color: var(--tab-color);
    background: color-mix(in srgb, var(--tab-color) 15%, transparent);
    /* transition: background 0.2s ease, color 0.2s ease; */
}
  
.filter-tab-small:hover {
    background: color-mix(in srgb, var(--tab-color) 20%, transparent);
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}